.header .search .toggable {
  display: none;
}
.container-main {
  display: flex;
  flex-direction: column;
}
.container-main .item1 {
  order: 1;
}
.container-main .item2 {
  order: 0;
}
@media (max-width: 800px) {
  .header .above-image .top-row .title h1 {
    font-size: 24px;
  }
  .header .above-image .top-row nav ul li {
    padding: 7px;
  }
  .header .above-image .top-row nav ul li a {
    font-size: 15px;
  }
  .header .above-image .middle-column {
    padding-top: 15%;
  }
  .header .above-image .middle-column .onloadText h1 {
    font-size: 27px;
    text-align: center;
  }
  .header .above-image .middle-column .search {
    width: 66%;
  }
  .header-text {
    text-align: center;
  }
}
@media (max-width: 500px) {
  body {
    max-width: 500px;
  }
  .header {
    position: unset;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .title {
    order: 1;
    text-align: center;
  }
  .header .title h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 30px;
  }
  .header .above-image .top-row {
    flex-direction: row-reverse;
  }
  .header .above-image .top-row .fa.fa-bars {
    display: inline;
  }
  .header .above-image .middle-column {
    padding-top: 30%;
  }
  .header .above-image .middle-column .onloadText h1 {
    text-align: center;
    font-size: 25px;
  }
  .header .above-image .middle-column .search {
    order: 3;
    width: 100%;
    padding: 2%;
    border-radius: 0;
  }
  .header .above-image .middle-column .search h2 {
    text-align: center;
  }
  .header .above-image .middle-column .search .fields {
    display: flex;
    flex-direction: column;
  }
  .header .above-image .middle-column .search .fields .toggable {
    display: none;
  }
  .header .above-image nav {
    display: none;
  }
  .header-text {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .main-content,
  .aboutus {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: auto;
  }
  .main-content .left-button,
  .aboutus .left-button {
    top: 25%;
    left: 0px;
    /*transform: translate(0, -50%);*/
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: inline;
  }
  .main-content .right-button,
  .aboutus .right-button {
    top: 25%;
    right: 0px;
    /*transform: translate(0, -50%);*/
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: inline;
  }
}
@media (min-width: 0px) {
  .main-content .card,
  .aboutus .card {
    width: 85%;
    text-align: center;
  }
}
@media (min-width: 500px) {
  .main-content .card,
  .aboutus .card {
    width: 50%;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .main-content .card,
  .aboutus .card {
    width: 25%;
    text-align: center;
  }
}
