body {
    font-family: Roboto; 
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 
}

.container-main {
    margin: 0 auto;
    width: 85%; 
}

.header {
    position: relative;
}

.header-text {
    text-align: center;
}

.header .title {
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 5%;
}

.header img {
    width: 100%;
    z-index: -1;
    opacity: 75%;
    filter: grayscale(100%);
}

.header .search {
    z-index: 2;
    position: absolute;
    top: 80%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
}

.header .search .searchbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .search input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 25px;
    border-radius: 2px;
  }

.header .search button[type=submit] {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    background-color: #0260ee;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.header .search h2 {
      margin: 0px;
      text-align: center;
      font-size: 30px;
}

.header .img {
    width: 100%;
    z-index: -1;
    opacity: 75%;
    height: 200px;
}

.header nav{
    z-index: 2;
    position: absolute;
    top: 0%;
    right: 15px;
}

.header nav ul {
    list-style-type: none;
    overflow: hidden;
}

.header nav ul li {
    float: left; 
    padding: 30px;
}

.header nav ul li a {
    text-decoration: none;
    color: #0c1425;
    font-size: 24px;
}

.aboutus {
    display: flex; 
    flex-wrap: wrap; 
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #ebeff8;
}

.card {
    background-color:#ebeff8;
    margin: 0.5%;
    border-radius: 5px;
}

.aboutus .item {
    width: 30%;
    height: 30%;
}

.main-content {
    display: flex; 
    flex-wrap: wrap; 
    text-align: center;
    justify-content: space-between;
}

.main-content .card {
    width: 25%; 
    padding: 0.5%;
}

.main-content .card img {
    width: 75%;
}