
// for mobile use

.header .search .toggable {
    display: none;
}

.container-main {

    display: flex;
    flex-direction: column;

    .item1 {
        order: 1;
    }

    .item2 {
        order: 0;
    }
}

@media (max-width: 500px) {
    body {
        max-width: 500px;
    }

    .header {
        position: unset;
        padding: 5px;

        .flexcolumn();
        align-items: center;

        .title {
            position: unset;
            order: 1; 
            text-align: center;

            h1 {
                margin-top: 3%;
                margin-bottom: 3%;
            }
        }
        
        .onloadText {
            top: 27.5%;
            left: 12.5%;
            width: 75%;
             h1 {
                 text-align: center;
                 font-size: 22px;
             }
        }

        nav {
            display: none;  
        }

        img {
            order: 2;
        }

        .search {
            position: unset;
            z-index: -1;
            order: 3; 
            
            width: 95%;

            padding: 2%;
            border-radius: 0;

            h2 {
                text-align: center;
            }

            .fields {
                .flexcolumn();
                
                .toggable {
                    display: none;
                }
            }

            
        }
    }

    .header-text {
        text-align: center; 
    }

    .main-content, .aboutus {

        .flexrow();
        .carousel();
        
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: auto;
        
        .card {
            width: 65%;
            text-align: center;
        }

        .left-button {
            .carousel-left-button();
            .button-properties();
            display: inline;
        } 
        
        .right-button {
            .carousel-right-button();
            .button-properties();
            display: inline;
            
        }
    }


}