// for menu dropdown

.colorwhite {
    background-image: none;
}

.menu-dropdown {
    .flexcolumn() !important;

    padding: 4%;
    background-color: aliceblue;
    border: 1px solid black;
    width: 100%;
    z-index: 3;
    align-self: center;
    align-items: stretch;

}

.hideSearch {
    display: none !important;
}
