@black: #FFFFFF;
@saturated-blue: #0260ee;
@dark-greyed-black: #0c1425;
@greyed-blue: #ebeff8;

// flex box mixin functions

.flexcolumn() {
    display: flex;
    flex-direction: column;
}

.carousel() {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 16px;
  }

  .carousel-left-button() {
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
  }
  .carousel-right-button() {
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }